body {
    background-color: powderblue;
}
.second {
    color: dark blue;
    text-align: center;
    font-size: 50px;
}
.year {
    color: #009900;
    font-size: 30px;
    font-style: italic;
}
.Isem {
    text-decoration: underline;
    font-size: 20px;
}